img.bg {
            /* Establezca reglas para el relleno de fondo */
            min-height: 100%;
            min-width: 100%;
            
            /* Establecer la escala proporcional */
            width: 100%;
            height: 100%;
            
            /* Establecer posicion */
            position: fixed;
            top: 0;
            left: 0;
        }
        
        @media screen and (max-width: 1024px){
            img.bg {
                left: 50%;
                margin-left: -512px; }
        }

body,html {
  height: 100%;
}

body {
  padding-top: 70px;
  padding-bottom: 70px;
}

.wide {
  width:100%;
  height:100%;
  height:calc(100% - 1px);
  background-image:url('../img/veterinaria-banner.png');
  background-size:cover;
}

.wide img {
  width:100%;
}

.logo {
  color:#fff;
  font-weight:800;
  font-size:14pt;
  padding:25px;
  text-align:center;
}

.line {
  padding-top:20px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

/* DivTable.com */
.divTable{
  display: table;
  width: 100%;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}
.divTableCell, .divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 3px 10px;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}




a:link   
{   
 text-decoration:none;   
}   
</style>



div {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}s